#center{
    width: 1300px;
    height: 500px;
    margin: auto;
}
body{
    background-image: url("../photo/wcup.jpg");
    background-size: cover;
}
#background{
    width: 1300px;
    height: 400px;
    text-align: center;
    font-size: 30px;
    /* background-color: darkgray; */
}
#center span{
    float: right;
}