.a{
    background-color: bisque;
    width: 400px;
    height: 200px;
}
.page-header{
    border-radius: 10px;
    height: 125px;
    text-align: center;
    width: 99.8%;
}

.cadre{
    border-radius: 5px;
}
.list-group{
    margin-top: 30px;
   
    text-align: center;
    float: left;
    margin-left: 5%;
}
.badge {
    margin-right: %;
}

.btn {
    margin-top: 6%;
    margin-left: 48%;
    float: left;
    
}

.tete {
    height: 0px;
}
.tabl {
    background-color: rgb(133, 126, 126);
    width: 250px;
    height: 40px;
    text-align: center;
    margin-top: 40px;
}
.table {
    background-color: rgb(174, 219, 216);
    width: 200px;
    height: 40px;
    text-align: center;
    margin-top: 20px;
}
.table1 {
    background-color: rgb(174, 219, 216);
    height: 40px;
    width: 200px;
    text-align: center;
    margin-top: 20px;
    margin-left: 0%;
}
.table2{
    background-color: rgb(133, 126, 126);
    height: 40px;
    width: 200px;
    text-align: center;
    margin-top: 10px;
    margin-left: 24%;
}
.table3{
    background-color: rgb(173, 214, 245);
    height: 40px;
    width: 200px;
    text-align: center;
    margin-top: 20px;
    margin-left: 38%;
}
.table4{
    background-color: rgb(179, 160, 182);
    height: 40px;
    width: 200px;
    text-align: center;
    margin-top: 19px;
    margin-left: 55%;
}
.table5{
    float: left;
    background-color: rgb(218, 220, 120);
    height: 40px;
    width: 120px;
    text-align: center;
    margin-top: -40px;
    margin-left: 79%;
}
.table51{
    float: left;
    background-color: rgb(162, 182, 123);
    height: 40px;
    width: 120px;
    text-align: center;
    margin-top: 20px;
    margin-left: 79%;
}
.table41{
    background-color: rgb(179, 160, 182);
    height: 40px;
    width: 250px;
    text-align: center;
    margin-top: 20px;
    float: left;
    margin-left: 50%;
}
.table31{
    background-color: rgb(173, 214, 245);
    height: 40px;
    width: 200px;
    text-align: center;
    margin-left: 10%;
}
.tab{
    background-color: rgb(179, 160, 182);
    height: 40px;
    width: 200px;
    text-align: center;
    margin-top: 20px;
}
.table21{
    background-color: rgb(133, 126, 126);
    height: 40px;
    width: 200px;
    text-align: center;
    margin-top: 10px;
    margin-left: 24%;
}